.main {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 32px;
  flex-wrap: wrap;
}

.leftColumn {
  position: relative;
}

.rightColumn {
  position: relative;
  text-align: center;
}

.banner {
  width: 100%;
  max-width: 520px;
  height: auto;
}

.label {
  line-height: 175%;
}

.alert {
  font-size: 14px;
  font-style: italic;
}
