NEXT_PUBLIC_CLIENT_ID=284164917747-ol4kt2ba7hsmcpjomf5al5amnbc1eekj.apps.googleusercontent.com
MONGODB_DBNAME=ielts-app
MONGODB_URI__URLENCODED=mongodb%2Bsrv%3A%2F%2Fielts-username%3Aielts-password%40ielts-app.ictbcws.mongodb.net%2F%3FretryWrites%3Dtrue%26w%3Dmajority
SECRET_KEY=89618208-1ac7-4eff-9f83-1f73dc8abdfa

AWS_ACCESS_KEY_ID=AKIAUD6ZFKQKDL5YI4GW
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=the-english-coach-ielts-app
