.image {
  max-width: 50%;
}

.textArea.textArea.textArea {
  margin-top: 12px;
  min-height: 300px;
  max-height: 566px;
}

.countdownTimer {
  font-weight: 600;
  text-align: center;
  line-height: 175%;
  font-size: 18px;
}
