.editor {
  div {
    outline: none;
    font-family: var(--font-monsterats) !important;
  }
  label {
    span {
      outline: none;
      font-size: 16px;
      font-family: var(--font-monsterats);
    }
  }
}
