.container {
  display: block;

  p {
    margin: 0;
  }
}

.fontStandard {
  span {
    font-size: 16px;
  }
}

.fontLarge {
  span {
    font-size: 20px;
  }
}

.fontExtraLarge {
  span {
    font-size: 24px;
  }
}
