@use "@/modules/app-ui/styles/_colors.scss" as colors;

.container {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
}

.userInfo {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}

.displayName {
  color: colors.$secondary;
  font-size: 24px;
  font-weight: 700;
}

.textYourScoreIs {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}

.textCorrectAnswer {
  font-size: 18px;
  font-weight: 500;
  line-height: 175%;
}

.textDescription {
  margin-top: 8px;
}
.score {
  color: colors.$secondary;
  font-size: 30px;
  font-weight: 700;
}

.colorPrimary {
  color: colors.$primary;
}

.colorSecondary {
  color: colors.$secondary;
}

.correctAnswer {
  color: colors.$primary;
  font-weight: 500;
}

.colorGreen {
  color: colors.$green;
}

.colorRed {
  color: colors.$red;
}

.questionId {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: colors.$secondary;
  color: white;
  font-weight: 600;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
}
