.container {
  margin: 20px auto;
  caret-color: transparent;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #bfbfbf;
  }

  td:nth-child(1) {
    text-align: left !important;
  }

  td {
    position: relative;
    min-width: 32px;
    label {
      margin: 0 8px;
    }
  }

  tbody {
    tr:nth-child(2n + 1) {
      background-color: #f1f1f1;
    }
  }
}

.buttonCheck {
  all: unset;
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: rgba(black, 0.04);
  }

  &:focus-visible {
    background-color: rgba(black, 0.04);
    outline: 2px solid blue;
  }

  &:active {
    background-color: rgba(black, 0.08);
  }
}
