.column {
  padding: 12px 24px;

  div {
    outline: none !important;
  }
}

.hiddenSreen {
  position: absolute;
  z-index: 1000;
  background-color: white;
  inset: 0;

  text-align: center;
  padding: 15vh 0;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
