.main {
  max-width: 1440px;
  margin: 40px auto;
  padding: 0 32px;
}

.answer {
  white-space: pre-wrap;
  line-height: 150%;
}

.comments {
  white-space: pre;
}

.grade {
  div {
    line-height: 150%;
  }
}
